extends layout

append head
    //- add page specific styles by appending to the head
    title=title
    link(rel="stylesheet" href="/stylesheets/index.css")
    //- add page specific js
    script(src="/javascripts/index.js" type="module")
    script(src="/javascripts/homeClick.js" type="module")

block content
  div(class="page-container")
    span(class="placeholder")

    div(class="question-container" name="question-container")
      each question in questions
        div( class="single-question-container")
          label(for="question" class="question-label" value=question.id id=question.id) Question: #{question.title}
          div(name="question" id=question.id class="jebhadtodoit" value=question.id)= question.body
