extends layout

append head
    //- add page specific styles by appending to the head
    title=title
    link(rel="stylesheet" href="/stylesheets/index.css")
    //- add page specific js
    script(src="/javascripts/index.js" type="module")
    script(src="/javascripts/homeClick.js" type="module")

block content

  span(class="topic-container")
      each topic in topics
        a(href=`/topics/${topic.id}` class="topic-buttons")=topic.type
  div(class="img-container")
    img(src="/images/logo.png" class="game-ora-pic")
  div(class="page-container")
    div(class="question-container" name="question-container")
      if !searchResults
        each question in questions
          div(class="single-question-container")
            label(for="question" class="question-label" value=question.id id=question.id) #{question.title}
            div(name="question" id=question.id class="jebhadtodoit" value=question.id)= question.body
      else if searchResults.length
        each question in searchResults
          div(class="single-question-container")
            label(for="question" class="question-label" value=question.id id=question.id) #{question.title}
            div(name="question" id=question.id class="jebhadtodoit" value=question.id)= question.body
      else
        div.no-search-results-message No results were found for the search input
    div(class="footer")
      div(class="footer-item")
        a(href='https://github.com/JebGriffin85')
          img(src="/images/git.png" class='footer-img')
        a(href='https://www.linkedin.com/in/jeb-griffin-120631206/')
          img(src="/images/linkedin.png" class='footer-img')
        div(class="footer-text")
          h2 Jeb Griffin
      div(class="footer-item")
        a(href='https://github.com/maricio41')
          img(src="/images/git.png" class='footer-img')
        a(href='https://www.linkedin.com/in/maricio-harris-0547491b9/')
          img(src="/images/linkedin.png" class='footer-img')
        div(class="footer-text")
          h2 Maricio Harris
      div(class="footer-item")
        a(href='https://github.com/Marshall-Diffey')
          img(src="/images/git.png" class='footer-img')
        a(href='https://www.linkedin.com/in/marshall-diffey-561192213/')
          img(src="/images/linkedin.png" class='footer-img')
        div(class="footer-text")
          h2 Marshall Diffey
      div(class="footer-item")
        a(href='https://github.com/baylend123')
          img(src="/images/git.png" class='footer-img')
        a(href='https://www.linkedin.com/in/baylen-doss-6899541bb/')
          img(src="/images/linkedin.png" class='footer-img')
        div(class="footer-text")
          h2 Baylen Doss
