extends layout

block content
  
    div(id='comment-div')
        div
            span=title
            div=question.body
              if (userId === question.userId)
                button(class="delete-button" value=question.id) Delete
        each comment in comments
            div=comment.body
        form(method='post' action='/comments')
            input(name='_csrf' type='hidden' value=csrfToken)
            textarea(id='newComment' name='newComment' placeholder='Add comment here')
            button(type='submit') Add Comment
